
@import "./../../Containers/Styles/styles.sass"

.btn.btn-get-info
  background-color: $primary-color !important
  color: $white-color
  padding: 2px
  width: 120px

.videoIcon
  height: 20px
  width: 20px
  background-color: red

.detailImage
  background-repeat: no-repeat
  height: 520px
  background-size: contain
  background-position: center

.item-row
  border: 0
  border-bottom: 0.5px solid $light-gray !important

.bg-main-blue
  background-color: $main-blue

.color-main-blue
  color: $main-blue

.detail-name
  border-radius: 3px
  letter-spacing: 3px
  font-size: 40px
  font-weight: 400

.color-font-gray
  color: $font-gray
