$primary-color: #f2592a
$white-color: #fff
$main-gray: #f4f4f4
$middle-gray: #d6d7d8
$dark-gray: #545355
$light-gray: #fbfbfb
$main-blue: #2f3841
$font-gray: #939495

.charactersHeader
  background-color: $primary-color
  padding: 10px 0 10px 30px
  text-align: left
  color: $white-color
  text-transform: uppercase
  font-weight: 400
  margin: 0
  font-size: 50px

.quantity
  display: block
  width: 100%
  color: $dark-gray
  letter-spacing: 1px
  padding: 15px
  border-bottom: 1px solid $middle-gray

body
  background-color: $main-gray

@media (min-width: 576px)
  .detailImage
    height: 62vh
    margin-top: 1em
    margin-bottom: 1em

@media (min-width: 768px)
  .detailImage
    height: 76vh
    margin-top: 1em
    margin-bottom: 1em

@media (min-width: 992px)
  .detailImage
    height: 31vh

@media (min-width: 1200px)
  .detailImage
    height: 40vh

@media (min-width: 1400px)
  .detailImage
    height: 50vh
    margin-top: 1em
    margin-bottom: 1em

